<div id='menuContainer'>
        <div id='loggedUser-menu'>
            <img class='loggedUserPicture'>
            <label class="loggedUserName"></label>
            <label class="loggedUserType"></label>
        </div>
        
        <nav id='menuEncuestador' class='userMenu'>
            <ul>
                <li id='e1'><a href='#' data-table-name='binomios'>Binomio Presidencial </a></li>
                <li id='e2'><a href='#' data-table-name='asambleistas'>Asambleistas</a></li>
                <li id='e3'><a href='#' data-table-name='parlamentarios'>Parlamentarios</a></li>
            </ul>
        </nav>
        
        <button id='menuLogoutBtn' class="form-button logoutBtn">Salir</button>
        <footer>
            <nav>
                <ul>
                    <li><span>© 2016 Team FCK</span></li>
                </ul>
                
            </nav>
            
        </footer>
</div>