<header>
    <a id="nav-toggle" href="#">&#9776;</a>
    <a id='logo' href='#'>
        <img src='/images/icon.png'>
        <span>ExitPoll</span>
    </a>
    <div id="loggedUser">
        <img class='loggedUserPicture' src=''>
        <label class="loggedUserName"></label>
        <button class="form-button logoutBtn">Salir</button>
    </div>
</header>