<meta charset="UTF-8">
    <title>Exit Poll</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="theme-color" content="#282c2f">
    <script src="/js/libs/jquery-3.1.1.min.js"></script>
<!--    <script src="js/highcharts.js"></script>-->
<!--    <script src="js/jquery.dynatable.js"></script>-->
    <script src="/js/datos.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/callbacks.js"></script>
    <link rel=StyleSheet href="/css/style.css" type="text/css">
    <link rel="icon" sizes="256x256" href="/images/icon.png">