<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    
    <% include ../partials/adminMenu %>
    
    <section id="content">
        Welcome!!
   
    </section>
</body>
</html>