<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    
    <% include ../partials/adminMenu %>
    
    <section id="content">
           <div id="contenedorAsambleistas">
        	<% for (var i = 0; i < asambleistas.length ; i++){ %>
            <div class="asambleista">
            <%= asambleistas[i].partido%>
              <div id="listaAsambleista"> <%= asambleistas[i].lista%> </div>
            
            
            <img src='/<%= asambleistas[i].imagenLista %>' width='50px'>
            <h4>Candidatos</h4>

             <%
                        for (candi of asambleistas[i].candidatos){%>
                            *<%= candi %>
                            <br>
                        <%
                        }
                        %>

            
        


            </div>
	    <% } %>
   </div>
    </section>
</body>
</html>