<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    
    <% include ../partials/encueMenu %>
    
    <section id="content">
        Welcome ENCUE!!
        <button id='btnEncuestaNueva'>Nuevo Voto</button>
   
    </section>
</body>
</html>