<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header_logged %>
    <div class="encuestadorInicio">
        <h1>Sistema de encuestador de registro de votos</h1> <br>
         <button id='btnEncuestaNueva'>Nuevo Voto</button>
    
    </div>
    
    
   
      
    
</body>
</html>